---
layout: default-hbf
title: About Us
active: about us
---

<div class="container">
  <h1 class="text-center text-white vmin6 rgb-display-box-page-title">About Us</h1>
</div>
<div class="container-fluid">
  <div class="well text-center rgb-display-box red plain">
    <p class="text-white vmin3">RGB Studios makes useful Chrome apps and websites and awesome AMVs.</p>
  </div>
</div>
{% include display-boxes.html data=site.data.team-main %}
{% include display-boxes.html data=site.data.team-sub %}