<link rel="stylesheet" itemprop="url" href="{{ site.baseurl }}/assets/css/display-boxes.css">
<div class="container">
  <h1 class="text-center text-white vmin6 rgb-display-box-page-title">{{ include.data.display.title }}</h1>
</div>
<div class="container-fluid">
{% if include.data %}
  {% assign num-items = include.data.content | size %}
  {% for item in include.data.content %}
    {% if item.hidden == "true" %}
      {% assign num-items = num-items | minus: 1 %}
    {% endif %}
  {% endfor %}
  {% assign total-items = num-items %}
  {% assign color = include.data.display.stclr %}
  {% for item in include.data.content %}
    {% if item.hidden == "false" %}
      {% assign total-items-mod = total-items | modulo: 3 %}
      {% assign num-items-mod = num-items | modulo: 3 %}
      {% if num-items == 2 and total-items-mod == 2 %}
      <div class="row">
        <div class="col-sm-2"></div>
        <a href="{% if item.links.first.type == 'default' %}{{site.baseurl}}{% endif %}{{ item.links.first.url }}"{% if item.links.first.type == "blank" %} target="_blank"{% endif %}>
          <div class="col-sm-4">
      {% elsif num-items == 1 and total-items-mod == 1 %}
        {% assign color = color | plus: 1 | modulo: 3 %}
      <div class="row">
        <div class="col-sm-4"></div>
        <a href="{% if item.links.first.type == 'default' %}{{site.baseurl}}{% endif %}{{ item.links.first.url }}"{% if item.links.first.type == "blank" %} target="_blank"{% endif %}>
          <div class="col-sm-4">
      {% elsif total-items-mod == 0 and num-items-mod == 0 %}
      <div class="row">
        <a href="{% if item.links.first.type == 'default' %}{{site.baseurl}}{% endif %}{{ item.links.first.url }}"{% if item.links.first.type == "blank" %} target="_blank"{% endif %}>
          <div class="col-sm-4">
      {% elsif total-items-mod == 2 and num-items-mod == 2 %}
      <div class="row">
        <a href="{% if item.links.first.type == 'default' %}{{site.baseurl}}{% endif %}{{ item.links.first.url }}"{% if item.links.first.type == "blank" %} target="_blank"{% endif %}>
          <div class="col-sm-4">
      {% elsif total-items-mod == 1 and num-items-mod == 1 %}
      <div class="row">
        <a href="{% if item.links.first.type == 'default' %}{{site.baseurl}}{% endif %}{{ item.links.first.url }}"{% if item.links.first.type == "blank" %} target="_blank"{% endif %}>
          <div class="col-sm-4">
      {% else %}
      <a href="{% if item.links.first.type == 'default' %}{{site.baseurl}}{% endif %}{{ item.links.first.url }}"{% if item.links.first.type == "blank" %} target="_blank"{% endif %}>
        <div class="col-sm-4">
      {% endif %}

          <div class="well text-center rgb-display-box {{ site.data.data.colors[color] }}">
            {% if include.data.display.icon == true%}
            <img class="rgb-display-box-icon {% if include.data.display.icnstyl == 'border' %}{{ site.data.data.colors[color] }}{% endif %}" src="{{ site.baseurl }}/assets/icons/{{ item.icon }}">
            {% endif %}
            {% if include.data.display.name == true%}
            <p class="text-center text-white vmin6 {% if include.data.display.icnpos == 'inline' %}inline-block{% endif %}">{% if include.data.display.icnpos == 'inline' %}&nbsp;{% endif %}{{ item.name }}</p>
            {% endif %}
            {% if include.data.display.desc == true%}
            <p class="text-center text-white vmin3">{{ item.desc }}</p>
            {% endif %}
            {% if include.data.display.date == true%}
            <p class="text-center text-white vmin3">Released {{ item.date }}</p>
            {% endif %}

          </div>
        </div>
      </a>
      {% assign num-items = num-items | minus: 1 %}
      {% assign num-items-mod = num-items | modulo: 3 %}
      {% assign color = color | plus: 1 | modulo: 3 %}
      {% if num-items == 0 %}
      </div>
      {% elsif total-items-mod == 0 and num-items-mod == 0 %}
        {% assign color = color | plus: 1 | modulo: 3 %}
      </div>
      {% elsif total-items-mod == 2 and num-items-mod == 2 %}
        {% assign color = color | plus: 1 | modulo: 3 %}
      </div>
      {% elsif total-items-mod == 1 and num-items-mod == 1 %}
        {% assign color = color | plus: 1 | modulo: 3 %}
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}
{% else %}
<p class="text-white">No Contents</p>
{% endif %}
</div>