<link rel="stylesheet" itemprop="url" href="{{ site.baseurl }}/assets/css/display-boxes.css">
{% if include.data.display.title != "" %}
<div class="container">
  <h1 class="text-center text-white vmin6 rgb-display-box-page-title">{{ include.data.display.title }}</h1>
</div>
{% endif %}
<div class="container-fluid">
{% if include.data %}
  {% assign num-items = include.data.content | size %}
  {% for item in include.data.content %}
    {% if item.hidden == "true" %}
      {% assign num-items = num-items | minus: 1 %}
    {% endif %}
  {% endfor %}
  {% assign total-items = num-items %}
  {% assign color = include.data.display.stclr %}
  {% for item in include.data.content %}
    {% if item.hidden == "false" %}
      {% assign total-items-mod = total-items | modulo: 3 %}
      {% assign num-items-mod = num-items | modulo: 3 %}
      {% if num-items == 2 and total-items-mod == 2 %}
      <div class="row">
        <div class="col-sm-2"></div><div class="col-sm-4">
        {% if include.data.display.style != 'plain' %}
        <a href="{% if item.link.type == 'default' %}{{site.baseurl}}{% endif %}{{ item.link.url }}"{% if item.link.type == "blank" %} target="_blank"{% endif %}>
        {% endif %}

      {% elsif num-items == 1 and total-items-mod == 1 %}
        {% assign color = color | plus: 1 | modulo: 3 %}
      <div class="row">
        <div class="col-sm-4"></div><div class="col-sm-4">
        {% if include.data.display.style != 'plain' %}
        <a href="{% if item.link.type == 'default' %}{{site.baseurl}}{% endif %}{{ item.link.url }}"{% if item.link.type == "blank" %} target="_blank"{% endif %}>
        {% endif %}

      {% elsif total-items-mod == 0 and num-items-mod == 0 %}
      <div class="row"><div class="col-sm-4">
        {% if include.data.display.style != 'plain' %}
        <a href="{% if item.link.type == 'default' %}{{site.baseurl}}{% endif %}{{ item.link.url }}"{% if item.link.type == "blank" %} target="_blank"{% endif %}>
        {% endif %}

      {% elsif total-items-mod == 2 and num-items-mod == 2 %}
      <div class="row"><div class="col-sm-4">
        {% if include.data.display.style != 'plain' %}
        <a href="{% if item.link.type == 'default' %}{{site.baseurl}}{% endif %}{{ item.link.url }}"{% if item.link.type == "blank" %} target="_blank"{% endif %}>
        {% endif %}

      {% elsif total-items-mod == 1 and num-items-mod == 1 %}
      <div class="row"><div class="col-sm-4">
        {% if include.data.display.style != 'plain' %}
        <a href="{% if item.link.type == 'default' %}{{site.baseurl}}{% endif %}{{ item.link.url }}"{% if item.link.type == "blank" %} target="_blank"{% endif %}>
        {% endif %}

      {% else %}
        <div class="col-sm-4">
        {% if include.data.display.style != 'plain' %}
      <a href="{% if item.link.type == 'default' %}{{site.baseurl}}{% endif %}{{ item.link.url }}"{% if item.link.type == "blank" %} target="_blank"{% endif %}>
        {% endif %}

      {% endif %}

          <div class="well text-center rgb-display-box {{ site.data.data.colors[color] }} {% if include.data.display.style == 'plain' %}plain{% endif %}">
            {% if include.data.display.icon == "true" %}
            <img class="rgb-display-box-icon {% if include.data.display.icnstyl == 'border' %}{{ site.data.data.colors[color] }}{% endif %}" src="{{ site.baseurl }}/assets/icons/{{ item.icon }}">
            {% endif %}
            {% if include.data.display.name == "true" %}
            <p class="text-center text-white vmin6 {% if include.data.display.icnpos == 'inline' %}inline-block{% endif %}">{% if include.data.display.icnpos == 'inline' %}&nbsp;{% endif %}{{ item.name }}</p>
            {% endif %}
            {% if include.data.display.desc == "true" %}
            <p class="text-center text-white vmin3">{{ item.desc }}</p>
            {% endif %}
            {% if include.data.display.date == "true" %}
            <p class="text-center text-white vmin3">{{ item.date }}</p>
            {% endif %}
            {% if item.links.size > 0 %}
            <table class="table rgb-display-box-table">
              <tr>
            {% for link in item.links %}
              <td>
                <a href="{{ link.url }}" target="_blank">
                  <img class="rgb-display-box-link {{ site.data.data.colors[color] }}" src="{{ site.baseurl }}/assets/icons/{{ link.icon }}">
                </a>
              </td>
            {% endfor %}
              </tr>
            </table>
            {% endif %}
          </div>
          {% if include.data.display.style != 'plain' %}
          </a>
          {% endif %}
        </div>

      {% assign num-items = num-items | minus: 1 %}
      {% assign num-items-mod = num-items | modulo: 3 %}
      {% assign color = color | plus: 1 | modulo: 3 %}
      {% if num-items == 0 %}
      </div>
      {% elsif total-items-mod == 0 and num-items-mod == 0 %}
        {% assign color = color | plus: 1 | modulo: 3 %}
      </div>
      {% elsif total-items-mod == 2 and num-items-mod == 2 %}
        {% assign color = color | plus: 1 | modulo: 3 %}
      </div>
      {% elsif total-items-mod == 1 and num-items-mod == 1 %}
        {% assign color = color | plus: 1 | modulo: 3 %}
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}
{% else %}
<p class="text-white">No Contents</p>
{% endif %}
</div>
<script>
  let elements = document.querySelectorAll(".well");
  let heights = [];

  [].forEach.call(elements, function(each) {
    heights[heights.length] = getComputedStyle(each, null).getPropertyValue("height");
  });

  heights.sort(function(a, b) {
    return parseFloat(b) - parseFloat(a);
  });

  [].forEach.call(elements, function(each) {
    each.style.height = heights[0];
  });
</script>