<br>
<div class="container-fluid">
{% if include.contents %}
  {% assign num-items = include.contents | size %}
  {% for item in include.contents %}
    {% if item.hidden == "true" %}
      {% assign num-items = num-items | minus: 1 %}
    {% endif %}
  {% endfor %}
  {% assign total-items = num-items %}
  {% assign counter = 1 %}
  {% for item in include.contents %}
    {% if item.hidden == "false" %}
      {% if num-items == 2 and total-items | modulo: 3 == 2 %}
      <div class="row" a>
        <div class="col-xs-2"></div>
        <a href="{{ item.links.first.url }}"{% if item.links.first.type == "blank" %} target="_blank"{% endif %}>
          <div class="col-xs-4">
      {% elsif num-items == 1 and total-items | modulo: 3 == 1 %}
      <div class="row" b>
        <div class="col-xs-4"></div>
        <a href="{{ item.links.first.url }}"{% if item.links.first.type == "blank" %} target="_blank"{% endif %}>
          <div class="col-xs-4">
      {% elsif total-items | modulo: 3 == 0 and num-items | modulo: 3 == 0 %}
      <div class="row" c>
        <a href="{{ item.links.first.url }}"{% if item.links.first.type == "blank" %} target="_blank"{% endif %}>
          <div class="col-xs-4">
      {% elsif total-items | modulo: 3 == 2 and num-items | modulo: 3 == 2 %}
      <div class="row" d>
        <a href="{{ item.links.first.url }}"{% if item.links.first.type == "blank" %} target="_blank"{% endif %}>
          <div class="col-xs-4">
      {% elsif total-items | modulo: 3 == 1 and num-items | modulo: 3 == 1 %}
      <div class="row" e>
        <a href="{{ item.links.first.url }}"{% if item.links.first.type == "blank" %} target="_blank"{% endif %}>
          <div class="col-xs-4">
      {% else %}
      <a href="{{ item.links.first.url }}"{% if item.links.first.type == "blank" %} target="_blank"{% endif %}>
        <div class="col-xs-4">
      {% endif %}

          <div class="well">
            <p class="text-center">{{ item.name }}</p>
            <p class="text-center">{{ item.desc }}</p>
            <p>{{num-items}}</p>
            <p>{{total-items}}</p>
          </div>
        </div>
      </a>
      {% assign num-items = num-items | minus: 1 %}
      {% if num-items == 0 %}
      </div>
      {% elsif total-items | modulo: 3 == 0 and num-items | modulo: 3 == 0 %}
      </div>
      {% elsif total-items | modulo: 3 == 2 and num-items | modulo: 3 == 2 %}
      </div>
      {% elsif total-items | modulo: 3 == 1 and num-items | modulo: 3 == 1 %}
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}
{% else %}
<p>No Contents</p>
{% endif %}
</div>