<link rel="stylesheet" itemprop="url" href="{{ site.baseurl }}/assets/css/footer.css">
<hr class="rgb-footer-break">
<div class="row no-margin">
  <div class="col-xs-4 text-center">
    <a href="mailto:{{ site.data.data.contact-email }}?Subject=Regarding RGB Studios"><span class="rgb-footer-link text-white vmin3">Contact Us</span></a>
  </div>
  <div class="col-xs-4 text-center">
    <a href="#"><span class="rgb-footer-link text-white vmin3">Back to Top</span></a>
  </div>
  <div class="col-xs-4 text-center">
    <a href="{{ site.baseurl }}"><img class="rgb-footer-icon" src="{{ site.baseurl }}/assets/icons/rgb/rgb-logo.svg"><span class="rgb-footer-link text-white vmin3">RGB Studios</span></a>
  </div>
</div>
<br>