<link rel="stylesheet" itemprop="url" href="{{ site.baseurl }}/assets/css/header.css">
<nav class="navbar nav-bar-default no-border no-margin">
  <div class="container-fluid rgb-header-container">
    <ul class="nav navbar-nav">
      <li><a class="rgb-header-link red {% if page.active == 'home' %}active{% endif %}" href="{{ site.baseurl }}"><span class="text-white vmin3">Home</span></a></li>
      <li><a class="rgb-header-link green {% if page.active == 'new projects' %}active{% endif %}" href="{{ site.baseurl }}/newprojects"><span class="text-white vmin3">New Projects</span></a></li>
      <li><a class="rgb-header-link blue {% if page.active == 'about us' %}active{% endif %}" href="{{ site.baseurl }}/aboutus"><span class="text-white vmin3">About Us</span></a></li>
      <li class="dropdown rgb-header-link red">
        <button class="rgb-header-link red" class="dropdown-toggle" id="rgb-header-dropdown" data-toggle="dropdown"><span class="text-white vmin3">More&nbsp;</span><span class="caret text-white"></span></button>
        <ul class="dropdown-menu" aria-labelledby="rgb-header-dropdown">
          <li><a href="#">Chrome App Help</a></li>
          <li><a href="#">Temp 1</a></li>
          <li><a href="#">Temp 2</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="rgb-header-link green" href="mailto:{{ site.data.data.contact-email}}?Subject=Regarding RGB Studios" onmouseover="document.getElementById('rgb-header-contact-icon').src='{{ site.baseurl }}/assets/icons/social/mail-open.svg';" onmouseout="document.getElementById('rgb-header-contact-icon').src='{{ site.baseurl }}/assets/icons/social/mail-closed.svg';"><img class="rgb-header-social-icon" src="{{ site.baseurl }}/assets/icons/social/mail-closed.svg" id="rgb-header-contact-icon"></a></li>
      <li><a class="rgb-header-link blue" href="{{ site.data.data.social-links.facebook }}" target="_blank"><img class="rgb-header-social-icon" src="{{ site.baseurl }}/assets/icons/social/facebook.svg"></a></li>
      <li><a class="rgb-header-link red" href="{{ site.data.data.social-links.youtube }}" target="_blank"><img class="rgb-header-social-icon" src="{{ site.baseurl }}/assets/icons/social/youtube.svg"></a></li>
      <li><a class="rgb-header-link blue" href="{{ site.data.data.social-links.twitter }}" target="_blank"><img class="rgb-header-social-icon" src="{{ site.baseurl }}/assets/icons/social/twitter.svg"></a></li>
    </ul>
  </div>
</nav>