<link rel="stylesheet" itemprop="url" href="{{ site.baseurl }}/assets/css/header.css">
<nav class="navbar nav-bar-default no-border no-margin">
  <div class="container-fluid rgb-header-container">
    <ul class="nav navbar-nav">
      <li><a href="{{ site.baseurl }}">Home</a></li>
      <li><a href="#">New Projects</a></li>
      <li><a href="#">About Us</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Chrome App Help</a></li>
          <li><a href="#">Chrome App Help</a></li>
          <li><a href="#">Chrome App Help</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Mail</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Youtube</a></li>
      <li><a href="{{ site.data.data.social-links.facebook }}" target="_blank"><img class="rgb-header-social-icon" src="{{ site.baseurl }}/assets/icons/social/twitter.svg"></a></li>
    </ul>
  </div>
</nav>