<head>
  <meta charset="UTF-8">
  <title>
    {% if page.title %}
      {{ page.title }} |
    {% endif %}
    {{ site.title }}
  </title>

  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/icons/rgb/rgb-logo-64.png"/>

  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"><script>

  <!--Default Styles-->
  <style>
    @font-face {
      font-family: MatrixBoldSmallCaps;
      src: url({{ site.baseurl }}/assets/fonts/MatrixBoldSmallCaps.ttf);
    }
  </style>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
</head>