.rgb-display-box {
  height: 100% !important;
  background: transparent;
}
.rgb-display-box.red {
  border: 6px solid #ad8585 !important;
}
.rgb-display-box.red:hover {
  background-color: #ad8585 !important;
}