.rgb-display-box {
  height: 100%;
  background: transparent;
}
.rgb-display-box-page-title {
  margin: 0 0 8px 0;
}
.rgb-display-box.red {
  border: 6px solid #ad8585;
}
.rgb-display-box.red:hover {
  background-color: #ad8585;
}
.rgb-display-box.green {
  border: 6px solid #85ad85;
}
.rgb-display-box.green:hover {
  background-color: #85ad85;
}
.rgb-display-box.blue {
  border: 6px solid #8585ad;
}
.rgb-display-box.blue:hover {
  background-color: #8585ad;
}
.rgb-display-box-icon {
  height: 48px;
  vertical-align: top;
}
.rgb-display-box-icon.red {
  border: 4px solid #ad8585;
  border-radius: 3px;
}
.rgb-display-box-icon.green {
  border: 4px solid #85ad85;
  border-radius: 3px;
}
.rgb-display-box-icon.blue {
  border: 4px solid #8585ad;
  border-radius: 3px;
}
.rgb-display-box-link {
  height: 36px;
}
.rgb-display-box-link.red:hover {
  fill: #c66;
}
.rgb-display-box-link.green:hover {
  fill: #c6c;
}
.rgb-display-box-link.blue:hover {
  fill: #66c;
}
.rgb-display-box-table {
  margin-bottom: 0;
  border-top: 2px solid white;
}