.rgb-footer-break {
  color: white;
  background-color: white;
  height: 1px;
  margin-top: 0;
}
.rgb-footer-text {
  display: inline-block;
}
.rgb-footer-link:hover .rgb-footer-text {
  text-decoration: underline;
}
.rgb-footer-icon {
  height: 5vmin;
  display: inline-block;
}