.rgb-header-container {
  padding-left: 0;
}
.rgb-header-social-icon {
  height: 3vmin;
}
.rgb-header-link {
  padding: 12px 16px;
  border: none;
  border-radius: none;
}
.rgb-header-link.red.active {
  background-color: #933;
}
.rgb-header-link.green.active {
  background-color: #393;
}
.rgb-header-link.blue.active {
  background-color: #339;
}
.rgb-header-link.red:hover {
  background-color: #933;
}
.rgb-header-link.green:hover {
  background-color: #393;
}
.rgb-header-link.blue:hover {
  background-color: #339;
}
.rgb-header-link.red:focus {
  background-color: #933;
}
.rgb-header-link.green:focus {
  background-color: #393;
}
.rgb-header-link.blue:focus {
  background-color: #339;
}