.rgb-header-container {
  padding-left: 0;
}
@media only screen and (max-width: 768px) {
  .rgb-header-container {
    padding-left: 15px;
  }
}
.rgb-header-social-icon {
  height: 3vmin;
}
.rgb-header-link {
  background-color: #333;
}
.rgb-header-link.red.active {
  background-color: #933;
}
.rgb-header-link.green.active {
  background-color: #393;
}
.rgb-header-link.blue.active {
  background-color: #339;
}
.rgb-header-link.red.open {
  background-color: #933;
}
.rgb-header-link.green.open {
  background-color: #393;
}
.rgb-header-link.blue.open {
  background-color: #339;
}
.rgb-header-link.red:hover {
  background-color: #933;
}
.rgb-header-link.green:hover {
  background-color: #393;
}
.rgb-header-link.blue:hover {
  background-color: #339;
}
.rgb-header-link.red:focus {
  background-color: #933;
}
.rgb-header-link.green:focus {
  background-color: #393;
}
.rgb-header-link.blue:focus {
  background-color: #339;
}
.rgb-header-dropdown {
  padding: 0 0;
  border: 2px solid #333;
}
.rgb-header-social-item {
  float: left;
}
.rgb-header-dropdown-item {
  border: 2px solid #333;
}
.rgb-header-dropdown-item.red {
  background-color: #c66;
}
.rgb-header-dropdown-item.green {
  background-color: #6c6;
}
.rgb-header-dropdown-item.blue {
  background-color: #66c;
}
.rgb-header-dropdown-item.red:hover {
  background-color: #933;
}
.rgb-header-dropdown-item.green:hover {
  background-color: #393;
}
.rgb-header-dropdown-item.blue:hover {
  background-color: #339;
}
.rgb-header-dropdown-ignite-icon {
   height: 2vmin;
   margin-top: -6px;
  transform: scaleX(-1);
}